<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>龙泉寺皈依自主表单填写</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/js/bootstrap.min.js" rel="script">
    <link href="/static/jquery/jquery-2.1.4.js" rel="script">
</head>
<body>
<div class="alert alert-success">随喜师兄录入成功，因为WIFI连接数限制，请关闭wifi，如果需要修改请按浏览器下返回按钮，更改后可再次提交
如果想返回首页请点击下面链接</div>

<p><a class="btn btn-default btn-lg btn-block" href="http://192.168.1.5/">如果继续录入其他皈依人员，请点击此返回首页</a></p>
</body>
