<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>龙泉寺小组信息填写</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/js/bootstrap.min.js" rel="script">
    <link href="/static/jquery/jquery-2.1.4.js" rel="script">
</head>

<body>

<div style="padding: 20px 20px 10px;" class="page-header">
    <h1>学佛小组填写表单</h1>
</div>

<div style="padding: 20px 20px 20px;">
    <form action="/xiaozued/" method="get" role="form">
        <h2>1. 基本信息</h2>
        <div class="input-group">
            <span class="input-group-addon">* 姓名</span>
            <input type="text" name="name" class="form-control" placeholder="如: 张三">
        </div><br>

        <div class="input-group">
            <span class="input-group-addon">* 手机</span>
            <input type="text" name="phone_num" class="form-control" placeholder="">
        </div><br>

        <div class="input-group">
            <span class="input-group-addon">* 生日</span>
            <input type="text" name="birthday" class="form-control" placeholder="生日，格式如：1987.01.01">
        </div><br>

        <div class="input-group">
            <span class="input-group-addon">* 详细地址</span>
            <input type="text" name="address" class="form-control" placeholder="">
        </div><br>

        * 性别：
        <input type="radio" name="gender" value="男" />
        男 &nbsp;
        <input type="radio" name="gender" value="女"/>
        女
        <br><br>

        <h2>2. 学佛小组类型</h2>
        <input type="radio" name="xiaozu_type" value="山上学佛小组" />
        山上学佛小组 &nbsp;
        <input type="radio" name="xiaozu_type" value="山下学佛小组" />
        山下学佛小组 &nbsp;
        <input type="radio" name="xiaozu_type" value="京外学佛小组" />
        京外学佛小组 &nbsp;
        <br><br>

        <h2>2. 学佛小组语种</h2>
        <input type="radio" name="xiaozu_lang" value="中文" checked/>
        国文 &nbsp;
        <input type="radio" name="xiaozu_lang" value="英文"/>
        英文 &nbsp;
        <input type="radio" name="xiaozu_lang" value="法文"/>
        法文 &nbsp;
        <input type="radio" name="xiaozu_lang" value="德文"/>
        德文 &nbsp;
        <input type="radio" name="xiaozu_lang" value="韩文"/>
        韩文 &nbsp;
        <input type="radio" name="xiaozu_lang" value="日文"/>
        日文 &nbsp;
        <input type="radio" name="xiaozu_lang" value="其他"/>
        其他 &nbsp;
        <br><br>

        <h2>3. 是否参加学佛小组</h2>
        <input type="radio" name="xiaozu_fou" value="参加小组" />
        参加学佛小组 &nbsp;
        <input type="radio" name="xiaozu_fou" value="不参加小组"/>
        不参加学佛小组 &nbsp;

        <h3>4. 填写小组地址</h3>
        <div class="input-group">
            <span class="input-group-addon">* 小组地址</span>
            <input type="text" name="xiaozu_dizhi" class="form-control" placeholder="">
        </div><br>

        <center>
            <div class="alert alert-danger">请您检查无误后提交，感恩</div>
        </center>
        <br>
        <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
    </form>
</div>
</body>
</html>