<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>龙泉寺学佛小组录入</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/js/bootstrap.min.js" rel="script">
    <link href="/static/jquery/jquery-2.1.4.js" rel="script">
</head>
<body>
<div class="alert alert-success">
    随喜师兄录入成功，因为WIFI连接数限制，如果您不再录入信息，请关闭wifi
    如果您帮其他师兄录入，请再次点击下面的返回主页，如果录入信息不对，请
    点击浏览器的后退按钮，更改后提交。
</div>
<div class="alert alert-success">
   <a href="http://192.168.1.5:8000/xiaozu/">返回主页</a>
</div>
</body>